@font-face {
  font-family: hollow;
  src: url(fonts/hollowpoint.ttf);
}
*{
	margin:0;
	box-sizing: border-box;
}
body{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
	
}
#bg-img{
	z-index: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url(img/front.jpg);
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: center center;
  	background-size: cover;
  	filter: blur(6px);
}
#topTitle{
	z-index: 1;
	opacity: 0;
	position: fixed;
	width: 100%;
	background-color: rgba(255,255,255, 0.7);
	font-family: hollow;
	text-align: center;
	margin-top: 29px;
	font-size: 40px;
	font-weight: 200;
	letter-spacing: 3px;
	transition:opacity 0.5s;
}
.text-secondary {
  color: #eece1a;
  text-shadow: -1px -2px 4px black;
}

#gallery{
	opacity: 0;
	position: relative;
	width:70%;
	height:100%;
	margin:auto;
	margin-top: 150px;
	transition: opacity 1s ;
}

#scale{
	width:fit-content;
	margin:auto; 
	margin-bottom: 30px;
}

#scale ul{
	display: flex;
	flex-direction: row;
	list-style: none;
	flex-wrap: wrap;
	column-gap: 40px;
}
#scale li{
    height: 25px;
    width: 25px;
	border-radius: 50%;
	border:black solid 1px;
}
#proContainer{
	display: flex;
	column-gap: 80px;
	overflow: hidden;
}
.arrows{
	margin-top:14%;
	font-size: 50px;
}
#photoContainer{
	display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    border-radius: 19px;
}
#photoContainer a{
	position: relative;
	display: contents;
	width: 100%;
	height: 100%;
}
#photoContainer img{
	width: 100%;
}

#photoContainer::-webkit-scrollbar {
display: none; 
visibility: none;
}
footer {
  position: fixed;
  height: 45px;
  width: 100%;
  bottom: 0px;
  z-index: 5;
  background-color: #444;
}
.icons {
  width: 260px;
  left: 0;
  right: 0;
  padding: unset;
  margin: auto;
  display: flex;
  cursor: pointer;
}
.icons li {
  margin: auto;
  margin-top: 8px;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: 30px;
}
#popUpBox {
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 4;
  bottom: -20px;
  padding: 5px;
  border-radius: 20px;
  width: fit-content;
  background-color: darkgray;
  color: black;
  font-size: 23px;
  transition: bottom 0.5s;
}
#shell{
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}
.fab,
.fas {
  color: whitesmoke;
}