@font-face {
  font-family: hollow;
  src: url(fonts/hollowpoint.ttf);
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#bg-img {
  z-index: 0;
  position: absolute;
  height: 100%;
  width: 101%;
  background-image: url(img/front.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  filter: blur(3px);
}
#topTitle {
  z-index: 1;
  opacity: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: hollow;
  text-align: center;
  margin-top: 70px;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 3px;
  transition: opacity 0.5s;
}
#proTitle{
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  top:37px;
  background-color: lightgray;
  color: black;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  opacity: 0.7;
}
.theTitle{
  transition: opacity 0.1s ;
  opacity: 1
}
.faid{
  opacity: 0;
}


#proggressTrail{
  color:white;
  display: flex;
  width: 55%;
  margin: auto;
  grid-column-gap: 35px;
  flex-direction: row;
  position: relative;
  text-align: start;
  bottom:50px;
  padding-left: 10%;
}
#proggressTitle{
    position: absolute;
    bottom: 20px;
    left: 10px;
}
.noteBtn{
  border-radius:50%;
  border:2px solid white;
  height: 15px;
  width:15px;
  position: absolute;
  bottom: 38.5px;
}

.langName{
  position: relative;
  font-size: 20px;
  bottom: 36px;
  left: 24px;
}
.portion{
  position: relative;
  /*color: white;*/
  bottom: 10px;
  left: 8px;
  font-size: 15px;
}
.trail{
  height: 5px;
  border: 3px white solid;
  border-radius: 20px;
  transition: width 0.01s;
  margin-left: 16px;
}


#js{
  width: 33.3%;
  height: 0;
  border-radius: 20px;
  /*margin: 0 6px;*/
}
#js .trail{
  width: 0%;
  background-color: #eab676;
  border-color: #eab676;
}
#js .noteBtn{
  background-color: yellow;
}

#css{
  width: 33%;
}
#css .trail{
  width: 0%;
  border-color: blue;
  background-color: blue;
}
#css .noteBtn{
  background-color: blue;
}

#html{
  width: 30%;
}

#html .trail{
  width: 0%;
  border-color: red;
  background-color: red;
}

#html .noteBtn{
  background-color: red;
}


.text-secondary {
  color: #eece1a;
  text-shadow: -1px -2px 4px black;
}
#galaryContainer{
  position: relative;
}
#gallery {
  opacity: 0;
  position: relative;
  width: 70%;
  height: 39vw;
  margin: auto;
  margin-top: 150px;
  transition: opacity 1s;
}

#scale {
  width: fit-content;
  margin: auto;
  margin-bottom: 30px;
}

#scale ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 40px;
}
#scale li {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: black solid 1px;
}
#proContainer {
  display: flex;
  column-gap: 80px;
  overflow: hidden;
}
.arrows {
  margin-top: 14%;
  font-size: 50px;
}
#photoContainer {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  border-radius: 19px;
  column-gap: 10px;
}
#photoContainer a {
  position: relative;
  display: contents;
  width: 100%;
  height: 100%;
}
#photoContainer img {
  width: 100%;
}

#photoContainer::-webkit-scrollbar {
  display: none;
  visibility: none;
}
