@font-face {
  font-family: hollow;
  src: url(fonts/hollowpoint.ttf);
}
@font-face {
  font-family: brain;
  src: url(fonts/BrianJames.ttf);
}
@keyframes dribblingFram{
  0%{transform: translate(0px, 0px);}
  50%{transform: translate(0px, 30px);}
  100%{transform: translate(0px, 0px);}
}
@keyframes spin {
  0% {
    transform: translate(0px, 0px) rotateY(0deg);
  }
  50% {
    transform: translate(0px, 30px) rotateY(360deg);
  }
  100% {
    transform: translate(0px, 0px) rotateY(720deg);
  }
}
@keyframes slidLeft{
  0%{left:100%;}
  100%{left:0%;}
}
@keyframes slidRight{
  0%{right:100%;}
  100%{right:0%;}
}
body {
  position: absolute;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -2;
  background-image: url(img/testing.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#bg-img{
  position: absolute;
  height: 100%;
  width: 100%;
  background:linear-gradient(to bottom right ,rgba(20, 79, 227,0.6)10% ,rgba(120, 120, 120,0.5 )60%,rgba(20, 159, 219, 0.4));
  
}
#trapezBg{
position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    margin: auto;
    width: 438px;
    height: 0;
    line-height: 0;
    border-top: 57px solid #444;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
}
#navBar{
    z-index: 4;
    width: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5px;
}
#navBar ul{
  display: flex;
  list-style: none;
  padding: 0;
  margin-top:0;
}
#navBar li{
  margin:0 20px;
  padding: 10px;
  font-size: 24px;
  transition: color 1s;
  cursor: pointer;
  color: white;
  transition: background 0.5s;
}

#navBar .currentPage{
  background-color: white;
  border-radius:10px;
  width: 110%;
  color:#eece1a;
  letter-spacing: 3px;
  text-shadow: 1px 1px 4px black;
  font-weight: bold;
}
.quote-wrap {
  z-index: 1;
  height: 100%;
  max-width: 300px;
  margin: auto;
  margin-top: 57px;
}
#quote {
  background: whitesmoke;
  max-width: 300px;
  margin: auto;
  margin-top: 20px;
  padding: 18px;
  border: 2px black solid;
  border-radius: 12px;
  font-size: 20px;
  transition: opacity 2s;
  transition-delay: 1s;
  height: 74px;
  opacity: 0;
  text-align: center;
}
#quote p {
  max-width: 300px;
  margin: auto;
  padding: 20px;
}
.angle {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 5px solid transparent;
  border-top: 40px solid whitesmoke;
  content: "";
  z-index: 2;
  left: 227px;
  float: left;
  margin-left: -25px;
  position: relative;
  transition: opacity 1s;
  transition-delay: 1s;

  opacity: 0;
}

.bugQoute {
  height: 100px;
  width: 90px;
  transition-duration: 1ms;
  opacity: 0;
  position: absolute;
  
}
.outerWrapper {
  width: 100%;
  position: absolute;
  top: 31%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  column-gap: 50px;
  justify-content:space-around;
   align-items:center;
}
.row{
  display: flex;
   flex-direction: row;
}
.main{
 margin: 70px 255px 0;
}
.pro-img {
  background-image: url(img/me.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -37px;
  height: 150px;
  width: 150px;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
  border: black 2px solid;
  z-index: 3;
}

.lg-heading {
  font-family: hollow;
  font-weight: 400;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  margin-bottom: 5px;
}
.text-secondary {
  color: #eece1a;
  text-shadow: -1px -2px 4px black;
}
.title {
  font-size: 28px;
  font-family: hollow;
  text-shadow: 1px 1px 4px #faf6e9;
  width: fit-content;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border: solid black 2px;
  border-radius: 20px;
  padding: 5px 10px 8px;
  background-color: lightslategrey;
}

.myLinks{
  z-index: 2;
  height: fit-content;
  margin-top: 52px;
  animation: dribblingFram 4s infinite;
  text-align: center;
  font-family: hollow;
  cursor: pointer;
  transition:opacity 0.4s ease-out; 
  letter-spacing: 3px;
  text-shadow: 6px -1px 7px white;
}
#cvLink{
  margin-top: 0;
}
.blank{
    position: absolute;
    z-index: 2;
    background-color: gray;
    opacity: 1;

}
#blankUp{

    width: 100%;
    height: 0%;
    bottom: 0;
    transition: height 0.9s;
}
#blankRight{
    width: 0%;
    height: 100%;
    left: :0%;
    transition: width 0.9s;
   /* animation: slidRight 1s linear;*/

}
#blankLeft{
    width: 0%;
    height: 100%;
    right:0%;
    transition: width 0.9s;
    /*animation: slidLeft 1s linear;*/

}

.bug {
  display: inline-block;
  opacity: 1;
  height: 40px;
  width: 40px;
  transform: rotate(56deg);
  transition-duration: 1.5s;
}
.imgLink {
  display: inline-block;
  height: 60px;
  width: 60px;
  left: 0;
  right: 0;
  margin: auto;
  margin-bottom: 18px;
  margin-top: 6px;
  transition: 0.5s;
  cursor: pointer;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


footer {
  position: fixed;
  height: 45px;
  width: 100%;
  bottom: 0px;
  z-index: 6;
  background-color: #444;
}
.icons {
  width: 260px;
  left: 0;
  right: 0;
  padding: unset;
  margin: auto;
  display: flex;
  cursor: pointer;
}
.icons li {
  margin: auto;
  margin-top: 8px;
  align-items: center;
  list-style: none;
  text-decoration: none;
  font-size: 30px;
}

#popUpBox {
  position: absolute;
  display: block;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 4;
  bottom: -20px;
  padding: 5px;
  border-radius: 20px;
  width: fit-content;
  background-color: darkgray;
  color: black;
  font-size: 23px;
  transition: bottom 0.5s;
}
#shell{
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}
.fab,
.fas {
  color: whitesmoke;
}

@media (min-height: 600px) {
  .quote-wrap {
    display: block;
  }
  .pro-img {
    margin-top: 0;
  }
}
